
/* general */
body {
    background-color: #EEF9BF;
}

.container {
    margin: 0% 11%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    object-fit: cover;
}

/* header */
header .tittle{
    margin: 2.5rem 0 0.8125rem 0;
    text-align: center;

    font: 700 3.5rem 'Roboto', sans-serif;
    color: #75B79E;
}

/* card */
.card {    
    width: 7.3125rem;
    height: 9.125rem;
    margin: 2.125rem 1.06rem;
    margin-bottom: 0;

    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    backface-visibility: hidden;
    
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.back-face img {
    height: 2rem;
}
    
.card.click .back-face {
    transform: rotateY(0deg);
}

.card.click .front-face {
    transform: rotateY(-180deg);
}

body {
    position: relative;
}

.timer {

    width: 3rem;
    height: 2rem;
    border-radius: 5px;
    font: 700 1rem 'Roboto', sans-serif;
    
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;

    display: flex;
    justify-content: center;
    align-items: center;


    position: absolute;
    top: 4.5rem;
    right:2rem;
}

@media (max-width: 335px) {
    h1.tittle{
        font-size: 2.25rem;
    }
}
